/* 
 *+--------------------------------------------------------------+
 *| • STYLES CSS POUR IMIESPHERE (PROJET WEB)                    |
 *+--------------------------------------------------------------+
 */

@import url('http://fonts.googleapis.com/css?family=Roboto');
@font-face {font-family: 'Intro';	src: url('fonts/Intro.otf');}

/*- Style pour le body (Gradient background, Police générale) -*/
body {
	margin : 0;

	background: rgb(59,103,158); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	font-family: 'Roboto';
	color:black;
	background-attachment:fixed;
}

.alternative {
	margin : 0;

	background-image: url(../img/bg5.jpg);
	background-

	font-family: 'Roboto';
	color:black;
	background-attachment:fixed;


	font-family: 'Roboto';
	color:black;
	background-attachment:fixed;
}

/*-Style pour les titres (Police, cadre, couleurs...)-*/
h1, h2, h3 {
	font-family: 'Century Gothic', cursive;
	font-weight: normal;

	border: 3px solid #5C5C58;
	background-color:#5C5C58; /* COLOR 5 */
	color:white;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 4px 0px 0px #41413F;
	-moz-box-shadow: 0px 4px 0px 0px #41413F;
	-webkit-box-shadow: 0px 4px 0px 0px #41413F;

}



/* •-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•	*/
/*		[HEADER]												*/
/* •-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•	*/

/*- Style pour le conteneur du header -*/
#header1 {
	width : 1024px;
	height : 130px;
	margin : 0 auto 0 auto;
	
	color:#EDEDED;
	font-size: 50px;
}

/*- Style pour le titre du header -*/
#headerTitle {
	font-family: 'calibri';
	font-weight: bold;
	color:#EDEDED;
	text-decoration: none;
	font-weight: normal;
}

/*- Style permettant de formater la forme lien du titre -*/
#headerTitle a:link, #headerTitle a:visited,
#headerTitle a:hover, #headerTitle a:active {
	text-decoration: none;
}



/* •-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•	*/
/*		[FOOTER]												*/
/* •-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•	*/
#footer {
	width : 100%;
	height : 50px;	
	margin : 0;

	background: rgb(59,103,158); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(59,103,158,1) 0%, rgba(43,136,217,1) 50%, rgba(43,136,217,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(59,103,158,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(50%,rgba(43,136,217,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(59,103,158,1) 0%,rgba(43,136,217,1) 50%,rgba(43,136,217,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


	color: #DEDEDE;
	
	font-family: 'Roboto';
	text-align: center;
	background-attachment:fixed;
}



/* •-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•	*/
/*		[DIVERS]												*/
/* •-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•	*/

/*- Style permettant de faire une tabulation avant le texte -*/
.tabulation {
	margin-left: 3em;
}

/*- Style pour englober plusieurs divs/contents -*/
.englobeur {
	display: inline-block;
	width:100%;
	height:auto;
	margin: 0 auto;
}

/*- Style formatant les liens généraux (1) -*/
#cleanLink a:link {
	color: inherit;
}

/*- Style formatant les liens généraux (2) -*/
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: inherit;
}

/*- Style pour le bouton retour des pages [x4] -*/
.bRetour {
	-moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:8px 20px;
	text-decoration:none;
}
.bRetour:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.bRetour:active {
	position:relative;
	top:1px;
}

.bRetourDiv {
	margin: 0px 50% 20px 50%;
}



/* •-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•	*/
/*		[MISE EN PAGE]												*/
/* •-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•	*/

/*- Page globale (all sauf header et footer) -*/
#page {
	margin-top:150px;
	margin : 0 auto;
	width : 100%;
	height : auto;
	background : #E5EFF1; /* COLOR 4 */
	overflow : auto;
	box-shadow: 0px 0px 10px 4px #25507A;
	-moz-box-shadow: 0px 0px 10px 4px #25507A;
	-webkit-box-shadow: 0px 0px 10px 4px #25507A;
}

#altPage {
	background: rgba(0, 0, 0, 0.75);
	margin-top:150px;
	margin : 0 auto;
	width : 100%;
	height : auto;
	overflow : auto;
	box-shadow: 0px 0px 10px 4px #3B4F3D;
	-moz-box-shadow: 0px 0px 10px 4px #3B4F3D;
	-webkit-box-shadow: 0px 0px 10px 4px #3B4F3D;
}

/*- Sous page comprenant basiquement le corps -*/
#page2 {
	margin : 0px auto;
	width : 1024px;
	height : auto;
	background : #E5EFF1; /* COLOR 4 */
	overflow : auto;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.90);
	-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}

#altPage2 {
	margin : 0px auto;
	width : 1024px;
	height : auto;
	background : rgba(229, 239, 241, 0.75);
	overflow : auto;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
}


/* •-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•	*/
/*		[ACCUEIL]												*/
/* •-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•	*/

/*- Partie gauche du corps (Connexion, etc...) -*/
#menugaucheACC {
	float : left;
	width : 20%;
	padding : 8px;
	margin : auto 5px auto 5px;
	border : none;
	background : none;
}

/*- Partie droite du corps (Calenderier, etc...) -*/
#menudroiteACC {
	float : right;
	width : 20%;
	padding : 8px;
	margin : auto 5px auto 5px;
	border : none;
	background : none;
	overflow: hidden;
}

/*- Partie du milieu du corps (Forum, actu, etc...) -*/
#corpsACC {
	width : 504px;
	height: 1016px;
	padding : 5px;
	background : none;
	border : none;
	margin : 40px auto;
}

/*- Style pour le square FORUM et son texte [x2] -*/
#squareForum {
	height: 248px;
	width: 504px;
	overflow: hidden;

	background-color: #E83333;	

	float: left;
	clear: none;
	margin: 0px 0px 4px 0px;
}
#squareForumText {
	margin-top: 106px;
	margin-bottom: 106px;
	text-align: center;
	font-family: "Intro";
	font-size: 33px;
	color: #161616;
}

/*- Style pour le square ACTU et son texte [x2] -*/
#squareActu {
	height: 504px;
	width: 248px;
	overflow: hidden;

	background-color: #66AEED;	

	float: right;
	clear: none;
	margin: 4px 0px 4px 0px;
}
#squareActuText {
	margin-top: 232px;
	margin-bottom: 232px;
	text-align: center;
	font-family: "Intro";
	font-size: 33px;
	color: #161616;
}

/*- Style pour le square CALENDRIER et son texte [x2] -*/
#squareCalend {
	height: 248px;
	width: 248px;
	overflow: hidden;

	background-color: #E1DC43;	

	float: left;
	clear: none;
	margin: 4px 0px 4px 0px;
}
#squareCalendText {
	margin-top: 106px;
	margin-bottom: 106px;
	text-align: center;
	font-family: "Intro";
	font-size: 33px;
	color: #161616;
}

/*- Style pour le square PROJETS et son texte [x2] -*/
#squareProjets {
	height: 248px;
	width: 248px;
	overflow: hidden;

	background-color: #9778D6;	

	float: left;
	clear: none;
	margin: 4px 0px 4px 0px;
}
#squareProjetsText {
	margin-top: 106px;
	margin-bottom: 106px;
	text-align: center;
	font-family: "Intro";
	font-size: 33px;
	color: #161616;
}

/*- Style pour le square CONTACT et son texte [x2] -*/
#squareContact {
	height: 248px;
	width: 248px;
	overflow: hidden;

	background-color: #5CE5DD;	

	float: left;
	clear: none;
	margin: 4px 0px 4px 0px;
}
#squareContactText {
	margin-top: 106px;
	margin-bottom: 106px;
	text-align: center;
	font-family: "Intro";
	font-size: 33px;
	color: #161616;
}

/*- Style pour le square FAQ et son texte [x2] -*/
#squareFaq {
	height: 248px;
	width: 248px;
	overflow: hidden;

	background-color: #8AC971;	

	float: right;
	clear: none;
	margin: 4px 0px 4px 0px;
}
#squareFaqText {
	margin-top: 106px;
	margin-bottom: 106px;
	text-align: center;
	font-family: "Intro";
	font-size: 33px;
	color: #161616;
}


/* •-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•	*/
/*		[PAGE PROJETS]											*/
/* •-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•	*/

.cssFlorianBientotLa{}

/* •-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•	*/
/*		[PAGE NOT FOUND]										*/
/* •-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•-•	*/
 
/*- Corps de page not found -*/
#corpsNPF {
	width : 50%;
	height: auto;
	min-height: 420px;
	padding : 5px;
	background : none;
	border : none;
	margin : 40px auto;
}

/*- Style pour le titre de la page -*/
#titleNPF {
 	text-align: center;
}


/* • • • • • • • • • • • • • • • F I N • • • • • • • • • • • • • • • */