<h2><?php echo $vars['title']; ?></h2>
<section id="articleEdition">
	<form action="" method="post">
		<input type="text" name="title" <?php echo (isset($vars['articleTitle'])) ? 'value="'.$vars['articleTitle'].'"' : ''; ?> placeholder="Titre de l'article..." required /> 
		<textarea name="content" id="editor" required>
			<?php echo (isset($vars['articleContent'])) ? $vars['articleContent'] : 'Article ici...'; ?>
		</textarea>
		<input type="submit" value="Publier" />
		<script>
			CKEDITOR.replace('editor', {
				language: 'fr',
				youtube_width: '853',
				youtube_height: '480',
				youtube_older: false,
				youtube_privacy: true,
				youtube_autoplay: false,
				youtube_related: false,
				toolbar: [
					{ name: 'document', items : [ 'Source','-','NewPage','DocProps','Preview','Print','-','Templates' ] },
					{ name: 'clipboard', items : [ 'Cut','Copy','Paste','PasteText','PasteFromWord','-','Undo','Redo' ] },
					{ name: 'editing', items : [ 'Find','Replace','-','SelectAll' ] },
					{ name: 'insert', items : [ 'Image','Youtube','Table','HorizontalRule','Smiley','SpecialChar','PageBreak','Iframe' ] },
					{ name: 'styles', items : [ 'Format','FontSize' ] },
					{ name: 'links', items : [ 'Link','Unlink' ] },
					{ name: 'tools', items : [ 'Maximize', 'ShowBlocks' ] },
					{ name: 'basicstyles', items : [ 'Bold','Italic','Underline','Strike','Subscript','Superscript','-','JustifyLeft','JustifyCenter','JustifyRight' ] },
					{ name: 'paragraph', items : [ 'NumberedList','BulletedList','-','Outdent','Indent','-','Blockquote','-','BidiLtr','BidiRtl' ] }
				]
			});
		</script>
	</form>
</section>