body {
	background-image: url("../Doc/Image/background.png");
	text-align: center;
}

label {
	font-family: Consolas;
	padding-right: 15px;
	color: black;
}

span {
	font-family: Consolas;
}

input {
	outline: none;
}

.titre {
	font-family: Consolas;
	text-align: center;
	color : black;
}

.form {
	padding-right: 15px;
	margin-top: 10px;
	margin-left: 10px;
	text-align: right;
}

.formulaire {
	margin: auto;
	margin-bottom: 50px;
	width: 400px;
	height: 360px;
	border-style: solid;
	border-color: #777;
	border-radius: 15px;
	margin-right: 75px;
	background-image: url("../Doc/Image/fond.png");
}

.field {
	font-family: Consolas;
	margin-bottom: 7px;
	border-radius: 5px;
	border-style: solid;
	border-color: #333;
	text-indent: 2px;
}

.bouton {
	margin-top: 8px;
	font-family: Consolas;
	width: 100px;
	height: 25px;
	border-radius: 5px;
	border-style: solid;
	background-color: #333;
	border-color: #333;
	color: white;
}

#text {
	outline: none;
}

#objet {
	width: 170px;
	margin-bottom: 15px;
}

#big {
	color: #999;
}

#msg {
	font-family: Consolas;
	padding-right: 225px;
}

#map {
	width: 600px;
	height: 450px;
	border-style: ridge;
}

#cmap, #formulaire {
	display: inline-block;
	vertical-align: middle;
}

#send_ok {
	border: solid #777;
	border-radius: 10px;
	width: 500px;
	background-image: url("../Doc/Image/fond.png");
	color: #444;
	display: inline-block;
	margin-top: 250px;
}

#infos {
	border-style: solid;
	border-color: #777;
	border-radius: 10px;
	float: right;
	width: 250px;
	height: 275px;
	background-image: url("../Doc/Image/fond.png");
}

#info {
	font-family: Consolas;
	padding-left: 15px;
	text-align: left;
}
